* {
	/*outline: 1px solid red;*/
	margin: 0;
	padding: 0 red;
	box-sizing: border-box;
}

/*CSS reset*/
body {
	font-family: 'Open sans', sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 	25px;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #082444;
	color: white;
	padding: 0 .8rem;
}


#pre-footer div {
	display: inline-block;
	min-height: 90px;
	width: 300px;
	margin: 1rem 0 0;
}

#pre-footer div h3, #pre-footer div p, {
	vertical-align: top;
}